<header>
  <nav>
    <div class="row">
      <img src="assets/resources/img/logo-white.png" alt="omnifood log" class="logo">
      <ul class="main-nav">
        <li><a href="#">Food Delivery</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">Our cities</a></li>
        <li><a href="#">Sign up</a></li>
      </ul>
    </div>
  </nav>
  <div class="hero-text-box">
    <h1>Good bye junk food. <br>Hello super healthy food</h1>
    <a class="btn btn-full" href="#">I'm hungary</a>
    <a class="btn btn-ghost" href="#">Show me more</a>
  </div>
</header>